In [1]:
from keras.datasets import boston_housing

Using TensorFlow backend.

In [29]:
pd.DataFrame(boston_housing.load_data())

,0,1
0,"[[1.23247, 0.0, 8.14, 0.0, 0.538, 6.142, 91.7,...","[15.2, 42.3, 50.0, 21.1, 17.7, 18.5, 11.3, 15...."
1,"[[18.0846, 0.0, 18.1, 0.0, 0.679, 6.434, 100.0...","[7.2, 18.8, 19.0, 27.0, 22.2, 24.5, 31.2, 22.9..."

In [2]:
(x_train, y_train), (x_test, y_test) = boston_housing.load_data()

Downloading data from https://s3.amazonaws.com/keras-datasets/boston_housing.npz
57344/57026 [==============================] - 0s 4us/step

In [21]:
x_train.shape, y_train.shape

((404, 13), (404,))

In [11]:
x_test.shape, y_test.shape

((102, 13), (102,))

In [9]:
len(x_train), len(x_test)

(404, 102)

In [31]:
pd.DataFrame(x_train)

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,1.23247,0.0,8.14,0.0,0.5380,6.142,91.7,3.9769,4.0,307.0,21.0,396.90,18.72
1,0.02177,82.5,2.03,0.0,0.4150,7.610,15.7,6.2700,2.0,348.0,14.7,395.38,3.11
2,4.89822,0.0,18.10,0.0,0.6310,4.970,100.0,1.3325,24.0,666.0,20.2,375.52,3.26
3,0.03961,0.0,5.19,0.0,0.5150,6.037,34.5,5.9853,5.0,224.0,20.2,396.90,8.01
4,3.69311,0.0,18.10,0.0,0.7130,6.376,88.4,2.5671,24.0,666.0,20.2,391.43,14.65
...,...,...,...,...,...,...,...,...,...,...,...,...,...
399,0.21977,0.0,6.91,0.0,0.4480,5.602,62.0,6.0877,3.0,233.0,17.9,396.90,16.20
400,0.16211,20.0,6.96,0.0,0.4640,6.240,16.3,4.4290,3.0,223.0,18.6,396.90,6.59
401,0.03466,35.0,6.06,0.0,0.4379,6.031,23.3,6.6407,1.0,304.0,16.9,362.25,7.83
402,2.14918,0.0,19.58,0.0,0.8710,5.709,98.5,1.6232,5.0,403.0,14.7,261.95,15.79
403,0.01439,60.0,2.93,0.0,0.4010,6.604,18.8,6.2196,1.0,265.0,15.6,376.70,4.38

In [33]:
pd.DataFrame(y_train)

        0
0    15.2
1    42.3
2    50.0
3    21.1
4    17.7
..    ...
399  19.4
400  25.2
401  19.4
402  19.4
403  29.1

[404 rows x 1 columns]

In [12]:
import numpy as np
import pandas as pd

In [22]:
pd.set_option('display.max_columns', 100)

In [24]:
col_name = ['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX', 'PTRATIO', 'B', 'LSTAT', 'MEDV']

In [35]:
train_data = np.concatenate([x_train, y_train[:, np.newaxis]], axis=1)
test_data = np.concatenate([x_test, y_test[:, np.newaxis]], axis=1)

In [36]:
df_train = pd.DataFrame(train_data, columns=col_name)
df_test = pd.DataFrame(test_data, columns=col_name)

In [37]:
df_train

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,1.23247,0.0,8.14,0.0,0.5380,6.142,91.7,3.9769,4.0,307.0,21.0,396.90,18.72,15.2
1,0.02177,82.5,2.03,0.0,0.4150,7.610,15.7,6.2700,2.0,348.0,14.7,395.38,3.11,42.3
2,4.89822,0.0,18.10,0.0,0.6310,4.970,100.0,1.3325,24.0,666.0,20.2,375.52,3.26,50.0
3,0.03961,0.0,5.19,0.0,0.5150,6.037,34.5,5.9853,5.0,224.0,20.2,396.90,8.01,21.1
4,3.69311,0.0,18.10,0.0,0.7130,6.376,88.4,2.5671,24.0,666.0,20.2,391.43,14.65,17.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
399,0.21977,0.0,6.91,0.0,0.4480,5.602,62.0,6.0877,3.0,233.0,17.9,396.90,16.20,19.4
400,0.16211,20.0,6.96,0.0,0.4640,6.240,16.3,4.4290,3.0,223.0,18.6,396.90,6.59,25.2
401,0.03466,35.0,6.06,0.0,0.4379,6.031,23.3,6.6407,1.0,304.0,16.9,362.25,7.83,19.4
402,2.14918,0.0,19.58,0.0,0.8710,5.709,98.5,1.6232,5.0,403.0,14.7,261.95,15.79,19.4
403,0.01439,60.0,2.93,0.0,0.4010,6.604,18.8,6.2196,1.0,265.0,15.6,376.70,4.38,29.1

In [41]:
col_name

['CRIM',
 'ZN',
 'INDUS',
 'CHAS',
 'NOX',
 'RM',
 'AGE',
 'DIS',
 'RAD',
 'TAX',
 'PTRATIO',
 'B',
 'LSTAT',
 'MEDV']

In [42]:
percentages = ['CRIM', 'ZN', 'INDUS', 'AGE', 'PTRATIO', 'LSTAT']

In [43]:
#normalizing data
for col in percentages:
    df_train[col] /=100
    df_test[col] /=100
    
df_train['B'] /=1000
df_train['TAX']/=10000
df_test['B'] /=1000
df_test['TAX']/=10000

In [55]:

x_train, y_train = df_train.values[:, :13], df_train.values[:, 13]

In [57]:
pd.DataFrame(x_train)

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.000123,0.00000,0.000814,0.0,0.5380,6.142,0.00917,3.9769,4.0,0.0307,0.210,0.39690,0.1872
1,0.000002,0.00825,0.000203,0.0,0.4150,7.610,0.00157,6.2700,2.0,0.0348,0.147,0.39538,0.0311
2,0.000490,0.00000,0.001810,0.0,0.6310,4.970,0.01000,1.3325,24.0,0.0666,0.202,0.37552,0.0326
3,0.000004,0.00000,0.000519,0.0,0.5150,6.037,0.00345,5.9853,5.0,0.0224,0.202,0.39690,0.0801
4,0.000369,0.00000,0.001810,0.0,0.7130,6.376,0.00884,2.5671,24.0,0.0666,0.202,0.39143,0.1465
...,...,...,...,...,...,...,...,...,...,...,...,...,...
399,0.000022,0.00000,0.000691,0.0,0.4480,5.602,0.00620,6.0877,3.0,0.0233,0.179,0.39690,0.1620
400,0.000016,0.00200,0.000696,0.0,0.4640,6.240,0.00163,4.4290,3.0,0.0223,0.186,0.39690,0.0659
401,0.000003,0.00350,0.000606,0.0,0.4379,6.031,0.00233,6.6407,1.0,0.0304,0.169,0.36225,0.0783
402,0.000215,0.00000,0.001958,0.0,0.8710,5.709,0.00985,1.6232,5.0,0.0403,0.147,0.26195,0.1579
403,0.000001,0.00600,0.000293,0.0,0.4010,6.604,0.00188,6.2196,1.0,0.0265,0.156,0.37670,0.0438