In [2]:

import warnings
warnings.filterwarnings('ignore')
import os

#libraries for handling data
import pandas as pd
import numpy as np

#libraries for data visualization
import matplotlib as mpl
import matplotlib.pyplot as plt
import matplotlib.pylab as pylab
import seaborn as sns
 
#libraries for modelling
from sklearn import datasets, linear_model

In [34]:
data_folder = r'C:\Users\reejung\Documents\GitHub'.replace("\\", "/")

In [35]:
for file in os.listdir(data_folder):
    if file.endswith(".xlsx"):
        #print(file) 
        print(data_folder + '/' + file)

C:/Users/reejung/Documents/GitHub/comparison test.xlsx
C:/Users/reejung/Documents/GitHub/Data splitting.xlsx
C:/Users/reejung/Documents/GitHub/Part_1_Answers.xlsx
C:/Users/reejung/Documents/GitHub/Question2.xlsx
C:/Users/reejung/Documents/GitHub/~$comparison test.xlsx

In [45]:
sFilePath = 'C:/Users/reejung/Documents/GitHub/comparison test.xlsx'
oFile = pd.ExcelFile(sFilePath)

In [46]:
oFile.sheet_names

['Sheet1', 'Sheet2']

In [53]:
oFileA = pd.read_excel(oFile, sheet_name = 'Sheet1', header=0)
oFileB = pd.read_excel(oFile, sheet_name = 'Sheet2', header=0)

In [54]:
dfA = pd.DataFrame(oFileA)
dfA

  var value
0   A  aaaa
1   B  bbbb
2   C  cccc
3   D  dddd
4   F   fff

In [55]:
dfB = pd.DataFrame(oFileB)
dfB

  var value
0   A   aaa
1   B   bbb
2   C   ccc
3   D   ddd
4   E   eee

In [62]:
comparison = (dfA.merge(dfB, how='outer', on='var')).fillna('')
comparison

  var value_x value_y
0   A    aaaa     aaa
1   B    bbbb     bbb
2   C    cccc     ccc
3   D    dddd     ddd
4   F     fff
5   E             eee

In [66]:
os.getcwd()

'C:\\Users\\reejung\\Anaconda3'