In [3]:
import pandas as pd
import numpy as np
import datetime as dt
import matplotlib.pyplot as plt
#import plotly.graph_objs as go
%matplotlib inline

In [4]:
date_start = dt.datetime(2020, 1, 1)
date_end = dt.datetime.today()

In [20]:
from pandas_datareader import data as pdr

In [21]:
pdr.DataReader('BAC', 'yahoo', date_start, date_end)

                 High        Low       Open      Close      Volume  Adj Close
Date
2020-01-02  35.660000  35.290001  35.349998  35.639999  37614200.0  35.168762
2020-01-03  35.150002  34.759998  34.980000  34.900002  50357900.0  34.438549
2020-01-06  34.900002  34.369999  34.410000  34.849998  42185000.0  34.389206
2020-01-07  34.919998  34.529999  34.700001  34.619999  34149000.0  34.162251
2020-01-08  35.189999  34.549999  34.570000  34.970001  45311600.0  34.507622
...               ...        ...        ...        ...         ...        ...
2020-06-15  25.170000  23.690001  23.760000  25.150000  76538900.0  25.150000
2020-06-16  26.240000  24.860001  26.180000  25.799999  96796500.0  25.799999
2020-06-17  25.900000  24.920000  25.900000  25.000000  58209900.0  25.000000
2020-06-18  25.490000  24.580000  24.700001  25.040001  53240800.0  25.040001
2020-06-19  25.490000  24.930000  25.440001  25.020100  19000272.0  25.020100

[118 rows x 6 columns]